* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #293542;
  color: lightgray;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin-right: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
  color: blue;
}

nav {
  background-color: gray;
  padding: 1rem;
}
section {
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  background-color: rgb(99, 22, 22);
}
footer {
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  background-color: rgb(99, 22, 22);
}
